  
<div class='main'>
    <div class='container'>
      <h1>Create and share Stories</h1>
      <%= link_to "Learn more", about_path, :class => "btn" %>
    </div>
</div>


<div class='supporting'>
  <h1>Relive and share your adventures</h1>
  <p>Stories automatically creates a digital journal filled with only your best photos.</p>
</div>

<div class='secondary'>
  <div class='jumbotron'>
    
  </div>
</div>

<div class='discover'>
  <h1>Discover Stories</h1>
  <%= link_to "Learn more", about_path, :class => "btn" %>
</div>


  


