  
<div class='main'>
  <img alt="Open" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg" width="24px">
  <div class='jumbotron'>
    <div class='container'>
      <h1>Create and share Stories</h1>
      <a class='btn' href=#>Learn more</a>
    </div>
  </div>
</div>


<div class='supporting'>
  <h1>Relive and share your adventures</h1>
  <p>Stories automatically creates a digital journal filled with only your best photos.</p>
</div>

<div class='secondary'>
  <div class='jumbotron'>
    
  </div>
</div>

<div class='discover'>
  <h1>Discover Stories</h1>
  <a class='btn' href=#>Learn more</a>
</div>

<div class='footer'>
  <p>A Demo Website Project</p>
</div>
  


